#folders
simulations/results/*
out/*
src/results

#files
Makefile
Makefile.vc
libDarknetSim*
src/DarknetSim*
src/libDarknetSim*
simulations/run
DarknetSim*

#dotfiles
.cproject
.oppbuildspec
.nedfolders
.tkenvrc
makefrag